body{margin:0;font-family:Arial, sans-serif;background:#faf7f2;color:#333;}
    header{padding:1rem;background:#fff;box-shadow:0 2px 10px rgba(0,0,0,0.08);position:sticky;top:0;}
    nav a{text-decoration:none;color:#333;margin-right:1rem;font-weight:bold;}
    .hero{
      display:grid;
      grid-template-columns:1fr 1fr;
      gap:1.5rem;
      padding:2rem;
      align-items:center;
    }
    .hero img{width:100%;border-radius:12px;}
    .buttons a{
      display:inline-block;
      background:#b58b63;
      padding:0.75rem 1.2rem;
      border-radius:8px;
      color:white;
      text-decoration:none;
      margin-right:0.5rem;
    }
    .grid{
      padding:2rem;
      display:grid;
      grid-template-columns:repeatw(3, 1fr);
      gap:1rem;
    }
    .grid img{width:100%;border-radius:12px;}
    footer{text-align:center;color:#777;padding:1rem;margin-top:2rem;}
    @media(max-width:800px){
      .hero{grid-template-columns:1fr;}
      .grid{grid-template-columns:1fr;}
    }

/* meny css */ 

body{margin:0;font-family:Arial;background:#faf7f2;}
    header{padding:1rem;background:#fff;box-shadow:0 2px 10px rgba(0,0,0,0.08);}
    nav a{text-decoration:none;color:#333;margin-right:1rem;font-weight:bold;}
    .menu-grid{
      display:grid;
      gap:1rem;
      grid-template-columns:repeat(auto-fit, minmax(250px, 1fr));
      padding:2rem;
    }
    .card{
      background:white;
      padding:1rem;
      border-radius:12px;
      box-shadow:0 4px 15px rgba(0,0,0,0.08);
    }
    .card img{width:100%;border-radius:10px;margin-bottom:0.5rem;}
    .tag{font-size:0.8rem;padding:0.2rem 0.5rem;border-radius:6px;background:#e0f2e0;margin-right:0.3rem;}
    .btns a{
      display:inline-block;
      padding:0.6rem 1rem;
      background:#d88b43;
      color:white;
      border-radius:8px;
      text-decoration:none;
      margin-right:0.5rem;
    }

    /* om oss css*/ 

    body{margin:0;font-family:Arial;background:#faf7f2;}
    header{padding:1rem;background:#fff;box-shadow:0 2px 10px rgba(0,0,0,0.08);}
    nav a{text-decoration:none;color:#333;margin-right:1rem;font-weight:bold;}
    .grid{
      display:grid;
      grid-template-columns:1fr 1fr;
      gap:2rem;
      padding:2rem;
    }
    .card{
      background:white;
      padding:1rem;
      border-radius:12px;
      box-shadow:0 4px 15px rgba(0,0,0,0.08);
    }
    form{display:grid;gap:0.5rem;}
    input,textarea{
      width:100%;padding:0.6rem;border-radius:8px;border:1px solid #ddd;
    }
    button{
      background:#d88b43;color:white;padding:0.7rem;border:none;border-radius:8px;
      cursor:pointer;
    }
    @media(max-width:800px){
      .grid{grid-template-columns:1fr;}
    }


    body {
  background: #f6efe8;
}
